readme.md
/tarea_1/dump.txt

tarea_2/instructions/
tarea_2/venv/
tarea_2/__pycache__/
tarea_2/database/__pycache__/

tarea_2/static/uploads/*
!tarea_2/static/uploads/
!tarea_2/static/uploads/default.png

tarea_3/venv/
tarea_3/__pycache__/
tarea_3/database/__pycache__/

tarea_3/static/uploads/*
!tarea_3/static/uploads/
!tarea_3/static/uploads/default.png

tarea_4/venv/
tarea_4/__pycache__/
tarea_4/database/__pycache__/

tarea_4/static/uploads/*
!tarea_4/static/uploads/
!tarea_4/static/uploads/default.png


venv/
.venv/