<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js', v='2') }}" defer></script>
    <title>Statistics</title>
  </head>
  <body>
  	<div id="userStatus" style="position:absolute; top:10px; right:10px; text-align:right;"></div>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('register') }}">Register</a>
      <a href="{{ url_for('activity') }}">Activity</a>
      <a href="{{ url_for('members') }}">Members</a>
      <a href="{{ url_for('metrics') }}">Metrics</a>
    </nav>

    <div class="charts-container">
      <div class="chart-box">
        <h3>Daily registrations</h3>
        <canvas id="rolesChart"></canvas>
      </div>

      <div class="chart-box">
        <h3>Activity Categories</h3>
        <canvas id="activitiesChart"></canvas>
      </div>

      <div class="chart-box">
        <h3>Activity owners by Municipality</h3>
        <canvas id="ownersChart" style="height: 700px !important;"></canvas>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </body>
</html>